.outgoing-message {
    align-self: flex-end;
    width: 40%;
    padding: .6rem;
    margin: 1rem 1rem;
    background-color: #59C9A5;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.outgoing-message p {
    word-wrap: break-word;
}