.profile-friends {
    background-color: white;
    border-radius: 5px;
    margin-top: 1.5rem;
    margin-right: .5rem;
    -webkit-box-shadow: 0px 5px 15px -8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 15px -8px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 15px -8px rgba(0,0,0,0.3);
    flex-grow: 1;
}

.friends-header {
    padding: 1rem 0;
    font-size: 1.5rem;
    border-bottom: 1px solid lightgrey;
    margin: 0 1rem;
}

.friends-container {
    display: flex;
    padding: .5rem;
}

.friend-item {
    padding: .5rem 1rem;
    text-align: center;
}

.friend-item img {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    object-fit: cover;
}