.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    -webkit-box-shadow: 0px 5px 15px -8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 15px -8px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 15px -8px rgba(0,0,0,0.3);
}

.logo {
    padding: .5rem;
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 900;
    color: #D81E5B;
}

.header-links {
    padding: .5rem 1rem;
}

.login-link a{
    color: black;
    text-decoration: none;
}

.log-out-btn {
    border: none;
    margin-left: .5rem;
    padding: .4rem;
    border-radius: 5px;
    cursor: pointer;
}